.grid {
  width: 480px;
  height: 480px;
  border: 1px solid #333;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 30px;
  height: 30px;
  border: 1px solid aqua;
  background-color: magenta;
  box-sizing: border-box;
}
